
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Product<b>Details</b></h2></div>
                    <div class="col-sm-4">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><i>Product Name</i></th>
                        <th><i>Price</i></th>
                        <th><i>Stock</i></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Crop top</td>
                        <td>790</td>
                        <td>Yes</td>
                        <td>
                        <button type="button"><i>edit</i></button>
                        <button type="button"><i>delete</i></button>
    
                        </td>
                    </tr>
                    <tr>
                        <td>Flannel Shirt</td>
                        <td>1024</td>
                        <td>No</td>
                        <td>
                           <button type="button"><i>edit</i></button>
                        <button type="button"><i>delete</i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>EthnicKurta</td>
                        <td>2095</td>
                        <td>Yes</td>
                        <td>
                           <button type="button" ><i>edit</i></button>
                        <button type="button"><i>delete</i></button>
                        </td>
                    </tr>      
                </tbody>
            </table>
        </div>
    </div>
</div>     


